@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, white), to(#cccccc));
  background-image: linear-gradient(white 20%, #cccccc);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vh;
  position: relative;
}

.wrapper header::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  background-color: white;
  -webkit-filter: blur(4vh);
          filter: blur(4vh);
  top: -5vh;
  width: 100vw;
  height: 23vh;
}

.wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 1vh;
  margin: 3vh;
}

.wrapper header .input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1vh;
  -webkit-filter: drop-shadow(0 0 0.75rem #b3b3b3);
          filter: drop-shadow(0 0 0.75rem #b3b3b3);
}

.wrapper header .input * {
  height: 3vh;
}

.wrapper header .input img {
  position: absolute;
  width: 3vh;
  left: 2vh;
  top: 1vh;
}

.wrapper header .input input {
  width: 50vh;
  padding: 2.5vh;
  padding-left: 7vh;
  border-radius: 1000vh;
  border-style: hidden;
}

.wrapper .card {
  position: relative;
  width: 65vh;
  -webkit-filter: drop-shadow(0 0 0.75rem #b3b3b3);
          filter: drop-shadow(0 0 0.75rem #b3b3b3);
}

.wrapper .card .top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3vh;
  height: 5vh;
  background-color: gray;
  margin: 2vh 0 0;
  position: relative;
  border-radius: 100vh;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.wrapper .card .top-box * {
  display: block;
  z-index: 5;
}

.wrapper .card .top-box .title {
  font-weight: bold;
  color: white;
}

.wrapper .card .top-box .click-to-change {
  position: absolute;
  right: 0;
}

.wrapper .card .top-box .click-to-change * {
  position: absolute;
  right: 2vh;
  bottom: -0.8vh;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.wrapper .card .top-box .click-to-change img:nth-child(1) {
  -webkit-transform: scale(0.5) rotate(90deg);
          transform: scale(0.5) rotate(90deg);
}

.wrapper .card .content-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  opacity: 0;
  height: 0;
  z-index: -2;
  -webkit-transform: translateY(-2vh);
          transform: translateY(-2vh);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.wrapper .card .content-wrapper .content {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), to(#d8d8d8));
  background-image: linear-gradient(white 50%, #d8d8d8);
  border-radius: 0 0 3vh 3vh;
  padding: 2vh 0 3vh;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  grid-gap: 1vh;
  -ms-grid-columns: 1.8fr 2fr;
      grid-template-columns: 1.8fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.wrapper .card .content-wrapper .content * {
  text-align: center;
}

.wrapper .card .content-wrapper .content img {
  grid-column: span 1;
  grid-row: span 3;
  max-height: 35vh;
  max-width: 30vh;
}

.wrapper .card .content-wrapper .content .info {
  border-radius: 2vh;
  width: 30vh;
  position: relative;
  top: 0;
}

.wrapper .card .content-wrapper .content .info.amiibo-series::before {
  content: "Amiibo Series";
  display: block;
  height: 3vh;
  width: 30vh;
  text-align: center;
  border-radius: 9999vh;
  color: white;
  background-color: #c8007d;
}

.wrapper .card .content-wrapper .content .info.amiibo-series {
  background-color: #c8007b3b;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.wrapper .card .content-wrapper .content .info.game-series::before {
  content: "Game Series";
  display: block;
  height: 3vh;
  width: 30vh;
  text-align: center;
  border-radius: 9999vh;
  color: white;
  background-color: #f4a901;
}

.wrapper .card .content-wrapper .content .info.game-series {
  background-color: #f4a7013b;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.wrapper .card .content-wrapper .content .info.type::before {
  content: "Type";
  display: block;
  height: 3vh;
  width: 30vh;
  text-align: center;
  border-radius: 9999vh;
  color: white;
  background-color: #008663;
}

.wrapper .card .content-wrapper .content .info.type {
  background-color: #0086623b;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.wrapper .card .content-wrapper .content .info.release-date::before {
  content: "Release Date";
  display: block;
  height: 3vh;
  width: 30vh;
  text-align: center;
  border-radius: 9999vh;
  color: white;
  background-color: #05aae7;
}

.wrapper .card .content-wrapper .content .info.release-date {
  background-color: #05abe73b;
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .card .content-wrapper .content .info.release-date * {
  display: block;
  padding: 0.5vh 2vh 1vh 1.5vh;
}

.wrapper .card .content-wrapper .content .info.release-date .australia::before {
  content: "";
  display: inline-block;
  left: 3vh;
  height: 3vh;
  width: 3vh;
  background-image: url("/img/australia.svg");
  background-size: 100%;
  margin: 0 1vh;
  -webkit-transform: translateY(0.5vh);
          transform: translateY(0.5vh);
}

.wrapper .card .content-wrapper .content .info.release-date .japan:before {
  content: "";
  content: "";
  display: inline-block;
  left: 3vh;
  height: 3vh;
  width: 3vh;
  background-image: url("/img/japan.svg");
  background-size: 100%;
  margin: 0 1vh;
  -webkit-transform: translateY(0.5vh);
          transform: translateY(0.5vh);
}

.wrapper .card .content-wrapper .content .info.release-date .europe:before {
  content: "";
  content: "";
  display: inline-block;
  left: 3vh;
  height: 3vh;
  width: 3vh;
  background-image: url("/img/european-union.svg");
  background-size: 100%;
  margin: 0 1vh;
  -webkit-transform: translateY(0.5vh);
          transform: translateY(0.5vh);
}

.wrapper .card .content-wrapper .content .info.release-date .north-america:before {
  content: "";
  content: "";
  display: inline-block;
  left: 3vh;
  height: 3vh;
  width: 3vh;
  background-image: url("/img/united-states.svg");
  background-size: 100%;
  margin: 0 1vh;
  -webkit-transform: translateY(0.5vh);
          transform: translateY(0.5vh);
}

.wrapper .card.active .top-box {
  border-radius: 100vh 100vh 0 0;
}

.wrapper .card.active .top-box .click-to-change img:nth-child(1) {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.wrapper .card.active .content-wrapper {
  opacity: 1;
  height: 67vh;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.wrapper .card.active .content-wrapper .content {
  padding: 2vh 0 3vh;
}

.wrapper .add-more {
  padding: 0;
  background-color: #757575;
  display: none;
  margin-top: 3vh;
  width: 10vh;
  height: 10vh;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.wrapper .add-more .plus-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.wrapper .add-more .plus-wrapper img {
  width: 60%;
}

.wrapper .add-more:hover {
  opacity: 0.8;
}

.wrapper .add-more:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

footer {
  display: block;
  width: 100vw;
  bottom: 1vh;
  text-align: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer * {
  display: block;
  padding: 1vh;
  color: black;
}

footer a:hover {
  opacity: 0.8;
}

footer a:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media (max-width: 600px) {
  .wrapper .card {
    max-width: 50vh;
  }
  .wrapper .card * {
    font-size: 2vh;
  }
  .wrapper .card .content-wrapper .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .card.active .content-wrapper {
    height: 90vh;
  }
}
/*# sourceMappingURL=style.css.map */