@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

$color-1: white;
$color-2: rgb(204, 204, 204);

$color-title-1: #c8007d;
$color-title-1-fade: #c8007b3b;
$color-title-2: #f4a901;
$color-title-2-fade: #f4a7013b;
$color-title-3: #008663;
$color-title-3-fade: #0086623b;
$color-title-4: #05aae7;
$color-title-4-fade: #05abe73b;

$item-pill-height: 3vh;
$item-pill-width: 30vh;

$drop-shadow: drop-shadow(0 0 0.75rem rgb(179, 179, 179));

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: linear-gradient($color-1 20%, $color-2);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;

  position: relative;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 1vh;

    .input {
      position: relative;
      display: flex;
      margin-top: 1vh;
      filter: $drop-shadow;
      * {
        height: 3vh;
      }
      img {
        position: absolute;
        width: 3vh;
        left: 2vh;
        top: 1vh;
      }
      input {
        width: 50vh;
        padding: 2.5vh;
        padding-left: 7vh;
        border-radius: 1000vh;
        border-style: hidden;
      }
    }
  }

  .card {
    position: relative;
    width: 65vh;
    filter: $drop-shadow;
    .title {
      display: flex;
      align-items: center;
      padding: 3vh;
      height: 5vh;
      background-color: gray;
      font-weight: bold;
      color: white;

      margin: 2vh 0 0;

      border-radius: 100vh;
    }
    .content {
      background-image: linear-gradient(white 50%, rgb(216, 216, 216));
      border-radius: 0 0 3vh 3vh;
      height: 0;
      overflow: hidden;
    }
  }
  .card.active {
    .title {
      border-radius: 100vh 100vh 0 0;
    }
    .content {
      height: 100%;
      padding: 2vh 0 3vh;

      display: grid;
      grid-gap: 1vh;
      grid-template-columns: 1.8fr 2fr;

      align-items: center;
      justify-items: center;

      * {
        text-align: center;
      }

      img {
        grid-column: span 1;
        grid-row: span 3;

        height: 35vh;
      }

      .info {
        border-radius: 2vh;

        width: $item-pill-width;

        position: relative;
        top: 0;
      }
      .info.amiibo-series::before {
        content: "Amiibo Series";
        display: block;

        height: $item-pill-height;
        width: $item-pill-width;

        text-align: center;
        border-radius: 9999vh;

        color: white;
        background-color: $color-title-1;
      }
      .info.amiibo-series {
        background-color: $color-title-1-fade;
        grid-column: 2/3;
      }
      .info.game-series::before {
        content: "Game Series";
        display: block;

        height: $item-pill-height;
        width: $item-pill-width;

        text-align: center;
        border-radius: 9999vh;

        color: white;
        background-color: $color-title-2;
      }
      .info.game-series {
        background-color: $color-title-2-fade;
        grid-column: 2/3;
      }

      .info.type::before {
        content: "Type";
        display: block;

        height: $item-pill-height;
        width: $item-pill-width;

        text-align: center;
        border-radius: 9999vh;

        color: white;
        background-color: $color-title-3;
      }
      .info.type {
        background-color: $color-title-3-fade;
        grid-column: 2/3;
      }

      .info.release-date::before {
        content: "Release Date";
        display: block;

        height: $item-pill-height;
        width: $item-pill-width;

        text-align: center;
        border-radius: 9999vh;

        color: white;
        background-color: $color-title-4;
      }
      .info.release-date {
        background-color: $color-title-4-fade;
        grid-column: 1/-1;
        display: flex;
        flex-direction: column;
        * {
          display: block;
          padding: 0.5vh 2vh 1vh 1.5vh;
        }

        .australia::before {
          content: "";

          display: inline-block;
          left: $item-pill-height;
          height: $item-pill-height;
          width: $item-pill-height;
          background-image: url("/img/australia.svg");
          background-size: 100%;

          margin: 0 1vh;

          transform: translateY(0.5vh);
        }
        .japan:before {
          content: "";
          content: "";
          display: inline-block;
          left: $item-pill-height;
          height: $item-pill-height;
          width: $item-pill-height;
          background-image: url("/img/japan.svg");
          background-size: 100%;

          margin: 0 1vh;

          transform: translateY(0.5vh);
        }
        .europe:before {
          content: "";
          content: "";
          display: inline-block;
          left: $item-pill-height;
          height: $item-pill-height;
          width: $item-pill-height;
          background-image: url("/img/european-union.svg");
          background-size: 100%;

          margin: 0 1vh;

          transform: translateY(0.5vh);
        }
        .north-america:before {
          content: "";
          content: "";
          display: inline-block;
          left: $item-pill-height;
          height: $item-pill-height;
          width: $item-pill-height;
          background-image: url("/img/united-states.svg");
          background-size: 100%;

          margin: 0 1vh;

          transform: translateY(0.5vh);
        }
      }
    }
  }
}
